MONGO_URI=mongodb://{addresseIp:port}/{databaseName}
PORT={port_application}
JWT_SECRET={your_secret_key}
FRONTEND_URL={addresseIp:port_frontend}
mongodb+srv://lizkaryan626_db_user:6bwzdbW8W7l3hJV2@cluster0.bg8mhdk.mongodb.net/CenterHub